<a href="https://colab.research.google.com/github/Prashant-Maikhuri/Digicade_Binance_Hackathon/blob/main/DIGICADE_MATCHING_ALGORITHM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input,Dense,LSTM
from tensorflow.keras.models import Model
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pandas as pd
from tensorflow.keras.optimizers import Adam
import random

In [ ]:
df=pd.read_excel("/content/Game.xlsx");
bt=pd.DataFrame(df,columns=['Bitcoin won/lost'])
list1=[]
listbr=[]
x=np.arange(-5,5,1)
for bt in range(10000):
    value=random.choice(x)
    list1.append(value)

for bt in list1:
    a=bt+5
    listbr.append(a)

df["Bitcoin won/lost"]=list1
print(df)

      Bitcoin won/lost Difficulty Opponent Rating
0                   -3        NaN      NaN    NaN
1                   -2        NaN      NaN    NaN
2                   -3        NaN      NaN    NaN
3                    0        NaN      NaN    NaN
4                    3        NaN      NaN    NaN
...                ...        ...      ...    ...
9995                -2        NaN      NaN    NaN
9996                -2        NaN      NaN    NaN
9997                 0        NaN      NaN    NaN
9998                -3        NaN      NaN    NaN
9999                -1        NaN      NaN    NaN

[10000 rows x 4 columns]

In [ ]:
diff=pd.DataFrame(df,columns=['Difficulty'])
list2=[]
listdif=[]
x=np.arange(1,6,1)
for diff in range(10000):
    value=random.choice(x)
    list2.append(value)

for diff in list2:
    if(diff==1):
        b=10
    elif (diff==2):
        b=random.choice([8,9])
    elif(diff==3):
        b=random.choice([6,7])
    elif(diff==4):
        b=random.choice([4,5])
    elif(diff==5):
        b=random.choice([2,3])
    else:
        b=1
    listdif.append(b)

df["Difficulty"]=list2
print(df)

      Bitcoin won/lost  Difficulty Opponent Rating
0                   -3           3      NaN    NaN
1                   -2           3      NaN    NaN
2                   -3           3      NaN    NaN
3                    0           2      NaN    NaN
4                    3           1      NaN    NaN
...                ...         ...      ...    ...
9995                -2           1      NaN    NaN
9996                -2           5      NaN    NaN
9997                 0           5      NaN    NaN
9998                -3           1      NaN    NaN
9999                -1           3      NaN    NaN

[10000 rows x 4 columns]

In [ ]:
opp=pd.DataFrame(df,columns=['Opponent'])
list3=[]
x=np.arange(1,10,1)
for opp in range(10000):
    value=random.choice(x)
    list3.append(value)

df["Opponent"]=list3
print(df)

      Bitcoin won/lost  Difficulty  Opponent Rating
0                   -3           3         3    NaN
1                   -2           3         1    NaN
2                   -3           3         2    NaN
3                    0           2         7    NaN
4                    3           1         4    NaN
...                ...         ...       ...    ...
9995                -2           1         4    NaN
9996                -2           5         4    NaN
9997                 0           5         6    NaN
9998                -3           1         3    NaN
9999                -1           3         1    NaN

[10000 rows x 4 columns]

In [ ]:
df.drop(columns=["Rating"])

      Bitcoin won/lost  Difficulty  Opponent
0                   -3           3         3
1                   -2           3         1
2                   -3           3         2
3                    0           2         7
4                    3           1         4
...                ...         ...       ...
9995                -2           1         4
9996                -2           5         4
9997                 0           5         6
9998                -3           1         3
9999                -1           3         1

[10000 rows x 3 columns]

In [ ]:
df["Bitcoin Rating"]=listbr
df["Difficulty Rating"]=listdif
print(df)

      Bitcoin won/lost  Difficulty  ...  Bitcoin Rating Difficulty Rating
0                   -3           3  ...               2                 6
1                   -2           3  ...               3                 6
2                   -3           3  ...               2                 6
3                    0           2  ...               5                 8
4                    3           1  ...               8                10
...                ...         ...  ...             ...               ...
9995                -2           1  ...               3                10
9996                -2           5  ...               3                 2
9997                 0           5  ...               5                 3
9998                -3           1  ...               2                10
9999                -1           3  ...               4                 6

[10000 rows x 6 columns]

In [ ]:
list4=[]
for x in range(10000):
    u=df["Bitcoin Rating"][x]+df["Difficulty Rating"][x]+df["Opponent"][x]
    avg=int(u/3);
    list4.append(avg)
df["Rating"]=list4
df.head()

   Bitcoin won/lost  Difficulty  ...  Bitcoin Rating  Difficulty Rating
0                -3           3  ...               2                  6
1                -2           3  ...               3                  6
2                -3           3  ...               2                  6
3                 0           2  ...               5                  8
4                 3           1  ...               8                 10

[5 rows x 6 columns]

In [ ]:
i=np.empty([10000,3])
for p in range(10000):
  i[p,:]=df.iloc[p,0:3]

i.shape

(10000, 3)

In [ ]:
xt=np.zeros((9990,10,3))
for w in range(9990):
    xt[w,:,:]=i[w:w+10]

  
xt

array([[[-3.,  3.,  3.],
        [-2.,  3.,  1.],
        [-3.,  3.,  2.],
        ...,
        [ 2.,  2.,  3.],
        [ 1.,  5.,  9.],
        [ 0.,  3.,  6.]],

       [[-2.,  3.,  1.],
        [-3.,  3.,  2.],
        [ 0.,  2.,  7.],
        ...,
        [ 1.,  5.,  9.],
        [ 0.,  3.,  6.],
        [ 2.,  3.,  1.]],

       [[-3.,  3.,  2.],
        [ 0.,  2.,  7.],
        [ 3.,  1.,  4.],
        ...,
        [ 0.,  3.,  6.],
        [ 2.,  3.,  1.],
        [ 3.,  4.,  2.]],

       ...,

       [[ 4.,  2.,  5.],
        [ 0.,  5.,  5.],
        [ 1.,  4.,  2.],
        ...,
        [ 0.,  2.,  2.],
        [-2.,  1.,  4.],
        [-2.,  5.,  4.]],

       [[ 0.,  5.,  5.],
        [ 1.,  4.,  2.],
        [-1.,  3.,  2.],
        ...,
        [-2.,  1.,  4.],
        [-2.,  5.,  4.],
        [ 0.,  5.,  6.]],

       [[ 1.,  4.,  2.],
        [-1.,  3.,  2.],
        [-3.,  5.,  3.],
        ...,
        [-2.,  5.,  4.],
        [ 0.,  5.,  6.],
        [-3.,  1.,  3.]]])

In [ ]:
 a=np.array(df.iloc[1,0:3])
(df.iloc[1,0:3].sum())//10

0

In [ ]:
yn=np.zeros((9990,1))
for e in range(9990): 
  yn[e,:]=(df["Rating"].iloc[e:e+10].sum())//10
y=yn.flatten()  
#y=np.expand_dims(y,-1)
y=np.array(tf.one_hot(y,10))
y.shape

(9990, 10)

In [ ]:
df["Rating"].iloc[0:4]

0    3
1    3
2    3
3    6
Name: Rating, dtype: int64

In [ ]:
i=Input(shape=(10,3))
x=LSTM(128,return_sequences=True)(i)
x=LSTM(64,return_sequences=True)(x)
x=LSTM(32)(x)
x=Dense(10)(x)
model=Model(i,x)

In [ ]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [ ]:
r=model.fit(xt,y,epochs=10)

Epoch 1/10
313/313 [==============================] - 10s 20ms/step - loss: 0.2079 - accuracy: 0.7536
Epoch 2/10
313/313 [==============================] - 6s 19ms/step - loss: 0.3055 - accuracy: 0.7634
Epoch 3/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0978 - accuracy: 0.8214
Epoch 4/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0741 - accuracy: 0.8619
Epoch 5/10
313/313 [==============================] - 6s 20ms/step - loss: 0.0856 - accuracy: 0.8636
Epoch 6/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0911 - accuracy: 0.8836
Epoch 7/10
313/313 [==============================] - 6s 20ms/step - loss: 0.6916 - accuracy: 0.5509
Epoch 8/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0687 - accuracy: 0.8700
Epoch 9/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0530 - accuracy: 0.8940
Epoch 10/10
313/313 [==============================] - 6s 19ms/step - loss: 0.0565 - accuracy: 0.8986